@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

.productPage{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .productPage--banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .banner--topBar{
      background-color: $darkGrey;
      width: 100%;
      height: 105px;
    }
    .banner-picture{
      background-image: url("/static/images/Product/50PercentOffImg.jpg");
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 110px;
      h1{
          color: $white;
          font-family: 'Roboto', sans-serif;
          font-weight: lighter;
          font-size: 4rem;
      }



    }

  }
}

.product--slider {
    grid-area: image;
    width: 100%;
    display: grid;
    grid-template-columns: 60px 500px;
    grid-template-areas:
      "thumbnail img";
      grid-gap: 10px;



    &__bigSlider {
      grid-area: img;

      img {
      height: 620px;
      width: auto !important;
      }
    }

    &__smallSlider {
      grid-area: thumbnail;
      align-self: start;

      img {
        height: 80px;
        width: auto;
        margin-bottom: 15px;

        &:nth-last-of-type(1) {
          margin-bottom: 0px;
        }
      }
    }
  }

  .product--slider {
    justify-content: center;
    align-items: center;

    .product--sliderbigSlider  {

      .slider-nav {
        position: relative;
      }

      .slider-for {
        position: relative;
        width: 100%;

        .slick-arrow {
          display: none;
          position: absolute;
          z-index: 1000;
          top: 50% !important;
          transform: translateY(-50%);

          &.slick-next {
            right: 20px;
            top: 0px;
          }
          &.slick-prev {
            left: 20px;
            top: 0px;
          }
        }
      }

      .slick-list {
        overflow: hidden;
        margin: 0px 20px;

        .slick-track {
          display: flex;
          flex-direction: row;
          .slick-slide {
            z-index: 1 !important;
          }
        }
      }

      .slick-list {
        overflow: hidden;
        width: 100%;
      }

      .slick-dots {
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        list-style: none;
        padding: 0px;
        margin: 0px;

        li {
          float: left;
        }
      }
    }

      .product--slidersmallSlider {

      .slider-nav {

        .slick-list {
          overflow: hidden;
          width: 100%;
          padding: 0px !important;

          .slick-slide {
            margin: 20px 0px;
            user-select: none;
            cursor: pointer;
            &:nth-of-type(1) {
              margin: 0px;
            }
          }
        }
      }
    }
  }





.product--wrapper{
  width: 1170px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "image dropdown"
  "image description";
  grid-gap: 10px;
  margin-top: 100px;
  margin-bottom: 100px;

  .info{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
    "headline headline "
    "priceAndText priceAndText"
    "dropdown dropdown"
    "buttons buttons"
    "description description"
    ;

    .info--headline{
      grid-area: headline;
      margin-bottom: 30px;
    }

    .info--priceAndeText{
      margin-bottom: 30px;
      grid-area: priceAndText;
      img{
        margin-left: 20px;
      }
    }

    .buttons{
      grid-area: buttons;
      margin-bottom: 30px;
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: 270px 2fr;
      grid-template-areas:
      "addToBag ."
      "saveForlater share";
      grid-gap: 10px;

      .addToBag{
        grid-area: addToBag;
        display: flex;
        width: 270px;
        justify-content: center;
        align-items: center;
        height: 52px;
        background-color: $turkish;
        color: $white;
        text-decoration: none;

        .icon1{
          width: 20px;
          height: 20px;
          margin-right: 10px;
        }

        &:hover{
          background-color: $darkGrey;
          color: $white;;


        }

      }
      .saveForlater{
        grid-area: saveForlater;
        display: flex;
        width: 270px;
        justify-content: center;
        align-items: center;
        height: 40px;
        background-color: $lightgrey-productPage;
        color: $black;
        text-decoration: none;
        &:hover{
          background-color: $darkGrey;
          color: $white;;


        }

      }
      .share{
        grid-area: share;
        color: $black;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 0.75rem;
        img{
          margin-right: 10px;
        }
      }

    }




      .dropdown-container {
        margin-bottom: 30px;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 260px 2fr;
        grid-template-areas:
        "dropdown1 dropdown1 ."
        "dropdown2 dropdown2 button";
        grid-gap: 10px;

        div{
          width: 100%;
          position: relative;
        }

        .dropdown1{
          grid-area: dropdown1;
        }
        .dropdown2{
          grid-area: dropdown2;
        }
        .button{
          grid-area: button;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 130px;
          height: 40px;
          background-color: $lightgrey-productPage;
          color: $black;
          font-size: 0.75rem;
          text-decoration: none;
          img{
            margin-right: 10px;
          }
        }



      }


  }
}



.description{
  grid-area: description;

main {
  min-width: 320px;
  max-width: 800px;
  margin: 0 auto;
  background: $fullwhite;
}

section {
  width: 470px;
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid $grey-border;
  p{
    color: $black;
    opacity: 0.6;
    font-size: 0.75rem;
    line-height: 25px;
  }
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 30px;
  font-weight: 600;
  text-align: center;
  color: $darkGrey;
  border: 1px solid transparent;
  &:hover {
    color: $turkish;
    cursor: pointer;
  }
}




input:checked + label {
  color: $black;
  border: 1px solid $grey-border;
  border-bottom: 1px solid $fullwhite;
}

#tab1:checked ~ #description,
#tab2:checked ~ #brand,
#tab3:checked ~ #info,{
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
}



.bigDiscounts{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  background-image: url("/static/images/Product/BigDiscountsImg.jpg");
  .bigDiscounts__headline{
    color: $white;
    font-size: 2.65rem;
    border: 5px solid $white;
    letter-spacing: 4px;
    padding: 10px;
  }
}


.sharpenYourLook{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 970px;
  margin-bottom: 100px;
  margin-top: 100px;


  .sharpenYourLook__headline{
    color: $black;
    font-size: 3.68rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    &:after{
      content: ' ' ;
      display: block;
      background-color: $turkish;
      width: 80px;
      height: 5px;
      margin-bottom: 20px;
      margin-top: 20px;

    }
  }
  .sharpenYourLook_bodyText{
    color: $grey;
    font-size: 1rem;
  }
}



.moreInfo{
  display: grid;
  width: 100%;
  height: 1290px;
  grid-template-columns: 50% 50%;
  grid-template-areas:
  "moreInfo__picture1 moreInfo__bodyText1"
  "moreInfo__bodyText2 moreInfo__picture2 ";
  grid-gap: 0px;

  .moreInfo__picture1{
    grid-area: moreInfo__picture1;

    img{
      width: 100%;
      height: 100%;
    }

  }
  .moreInfo__bodyText1{
    grid-area: moreInfo__bodyText1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $darkGrey;
    .moreInfo__contentWrapper{
      width: 470px;
      height: auto;

      .moreInfo__headline{
        color: $white;
        font-size: 2.25rem;
        margin-top: 30px;
        margin-bottom: 15px;
        font-weight: lighter;
      }
      .moreInfo__text{
        color: $lightGrey;
        font-weight: 100;
        opacity: 0.7;
        font-size: 1rem;
        margin-top: 30px;
        margin-bottom: 15px;

      }

      .moreInfo_readMore{
        width: 270px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $white;
        text-decoration: none;

        p{
          text-decoration: none;
          color:  $white;
          font-size: 0.75rem;
        }

        &:hover{
          transition: all .3 ease-in-out;
          background-color: $white;
          p{
            color: $black;
          }
        }
      }



      .iconWrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        figure{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 15px;
          margin-bottom: 15px;
          .imageWrapper{
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $white;
            border-radius: 50%;
            img{
              display: block;
              width: 70%;
              height: 70%;
              margin-top: 5px;
            }

          }
          figcaption{
            color: $white;
            font-size: 0.75rem;
            margin-top: 15px;
          }


        }
      }


    }

  }
  .moreInfo__picture2{
  grid-area: moreInfo__picture2;
    @extend .moreInfo__picture1;

  }
  .moreInfo__bodyText2{
    grid-area: moreInfo__bodyText2;
    @extend .moreInfo__bodyText1;
    background-color: $turkish;

  }

}
