$lightGrey: #f6f6f6;
$turkish: #33d0de;
$turkishLight: #71dee8;
$darkGrey: #333333;
$fullwhite: #ffffff;
$white: #f3f3f3;
$midtboxwhite: #f8f8f8;
$grey-border: #dcdcdc;
$black: #333333;
$grey: #939393;



$font: 'Open Sans', sans-serif;
