@import '_variables';
@import '_header';
@import '_footer';
@import '_categories';
@import '_productDetail';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


*{
  margin: 0 ;
}

body{
  font-family: 'Open Sans', sans-serif;

}

#app{
  width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $fullwhite;
}


.root-element{
  display: flex;
  width: 100%;
  margin: 0px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex-direction: column;
}

.frontPage--Banner{
  width: 100%;


  .frontPage--Banner__sliderbox{
    background-image: url("/static/images/Header/HEADER.jpg");
    height: 575px;
    width: 100%;
    display: grid;
    grid-template-columns: 12fr;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;



    .frontPage--Banner__callToAction{
      width: 268px;
      font-size: 16px;
      height: 18px;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px solid $white;
      margin-left: 867px;
      margin-top: 385px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover{
        background-color: white;
        color: $turkish;
         transition: all 0.5s ease;
      }

    }

  }

}





  .frontPage--sectionTwo{
    width: 1170px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 90px;

    .frontPage--sectionTwo__box1{
      background-image: url("/static/images/Homepage/MensLookbookImage.jpg");
      width: 350px;
      height: 390px;
      display: flex;
      justify-content: center;
      align-items: center;





      .frontPage--sectionTwo__callToAction{
      color: white;
      text-decoration: none;
      font-size: 3rem;
      width: 240px;
      height: 150px;
      text-align: center;
      border: 2px solid;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      }
    }

    .frontPage--sectionTwo__box2{
      @extend .frontPage--sectionTwo__box1;
      background-image: url("/static/images/Homepage/WomensLookBookImage.jpg");

    }

    .frontPage--subscribe{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: white;
      padding: 13px;
      width: 435px;
      height: 390px;
      transform: scale(1.0);
      -webkit-box-shadow: 0px 10px 16px -4px rgba(0,0,0,0.31);
      box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.15);
      margin-top: -14px;


      .frontPage--subscribe__form{
        text-transform: uppercase;
        width: 435px;
        height: 390px;
        background-color: $midtboxwhite;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $grey-border;


        .subscribe__iconSpan{
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px;
          border-radius: 50%;
          width: 65px;
          height: 65px;
          background-color: $turkish;
          margin-bottom: 25px;

          img{
            width: 39px;
            height: 31px;

          }


        }

        .frontPage--subscribe__headline{
          font-size: 1.875rem;
          color: $black;
          width: 320px;
          text-align: center;

        }

        .frontPage--subscribe__description{
          opacity: 0.6;
          color: $black;
          font-size: 1.125rem;
          width: 280px;
          text-align: center;
          margin-top: 15px;
          margin-bottom: 40px;



        }

        .frontPage--subscribe__textField{
          border: none;
          border-bottom: 1px solid $black;
          width: 370px;
          background-color: $midtboxwhite;
          text-align: center;
          height: 30px;
          font-size: 1.125rem;
          font-weight: 500;




        }



        .frontPage--subscribe__button{
          border: 1px solid $black;
          text-align: center;
          padding: 14px 140px;
          font-size: 1.125rem;
          text-align: center;
          margin-top: 12px;
          background-color: $midtboxwhite;

          &:hover{
            transition: all 0.3s ease-in-out;
            background-color: black;
            color: $white;
          }


        }

      }
    }

  }


  .frontPage--topBrands{

    width: 100%;
    height: 270px;
    background-color: $lightGrey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


      .frontPage--topBrands__headline{
        margin-bottom: 75px;
        text-transform: uppercase;
        font-size: 1.25rem;


      &::before{
        content: ' ' ;
        background-color: black;
        width: 100px;
        height: 1px;
        display: inline-block;
        margin-bottom: 7px;

      }




      &::after{
        content: ' ' ;
        background-color: black;
        width: 100px;
        height: 1px;
        display: inline-block;
        margin-bottom: 7px;
        }

        }



      .frontPage--topBrands__slider{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 1170px;
      }

  }


  .frontPage--offerSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;

    .frontPage--offerSection__wrapper{
      width: 1170px;
      height: 600px;
      display: grid;
      grid-template-columns: 6fr 6fr;
       grid-template-areas:
       "big smallOne"
        "big smallTwo";
        grid-gap: 5px;
        justify-content: center;
        }

    .frontPage--offerSection__imgOne{
      grid-area: big;
      width: 100%;
      height: 100%;
    }

    .frontPage--offerSection__imgTwo{
    grid-area: smallOne;
    width: 100%;
    height: 100%;


    }

    .frontPage--offerSection__imgThree{

    grid-area: smallTwo;
    width: 100%;
    height: 100%;
    }




  }


  .frontPage--featured{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .frontPage--featured__headlines{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: flow;
      a{
        margin: 25px;
        text-decoration: none;

        h3{
          font-size: 1.125rem;
          color: $black;
        }
      }
    }


  }

.frontPage--featured{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;

  .frontPage--featured__wrapper{


    width: 1170px;

.columnDiv{
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;

  ul{
  display: flex;
  flex-direction: row;
  width: 1170px;
  justify-content: space-between;
  list-style: none
  }
  .product--elementWrapper{
    width: 270px;
    .product--box{







      .product-wrapper{
        .product--image{
          position: relative;
          overflow: hidden;
          width: 270px;
          height: 400px;
          .product--saleText{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 70px;
            height: 35px;
            background-color: $turkish;
            .product--saleText__item{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            width: 70px;
            height: 35px;
            font-size: 1rem;
          }
          }
          .product--hoverPopUp{
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: rgba(255, 255, 255, .7);
            width: 270px;
            height: 100px;
            bottom: -100px;
            .iconWrapper{
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: $turkish;
              border: 1px;
              border-radius: 50%;
              height: 50px;
              width: 50px;
              a{
                img{
                  display: block;
                  margin-top: 4px;
                }
              }
            }
          }
          &:hover{
            .product--hoverPopUp{
              bottom: 0px;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }


    .product--description{
      width: 230px;
      text-align: center;
      font-size: 0.875rem;
      padding: 20px;
      opacity: 0.6;
      color: $black;
    }

    .product--info{
      width: 270px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

    .product--info__price{
      font-size: 1.25rem;
      color: $black;

    }
    .product--info__addToBasket{
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row;
      color: $black;

      background-color: $fullwhite;
      border: 1px solid $black;
      width: 140px;
      height: 35px;

      .whiteBag{
        display: none;

      }
      .blackBag{
        display: block;

      }
    }

    &:hover{
      .product--info__addToBasket{
        background-color: $black;
        color: white;
        transition: all 0.3s ease-in-out;
        .whiteBag{
          display: block;

        }
        .blackBag{
          display: none;

        }
      }

    }
    }
  }
}

  }

}


.frontPage--summerOffer{
  display: flex;
  justify-content: center;

  width: 100%;
  background-image: url("/static/images/Homepage/25OffBG.jpg");
  height: 430px;

  p{
    font-size: 3.75rem;
    color: $white;
    font-weight: 300;
  }

  .frontPage--summerOffer__wrapper{
    width: 1170px;
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    .frontPage--summerOffer__circle{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(51, 208, 222, .7);
      width: 315px;
      height: 315px;
      border: 1px;
      border-radius: 50%;
      margin-left: 20px;
      margin-right: 20px;

      .frontPage--summerOffer__25percent{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: lighter;
        font-size: 6.25rem;
        strong{
          font-size: 2.0625rem;
          margin: -30px;

        }
      }
    }

  }

}



.frontPage--quotes{
  width: 100%;
  height: 435px;
  background-color: $turkish;
  display: flex;
  justify-content: center;
  align-items: center;
  .frontPage--quotes__box{
    width: 770px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .frontPage--quotes__avatar{
      border: 5px solid $turkishLight;
      border-radius: 50%;
    }
    .frontPage--quotes__name{
      color: $white;
      font-size: 1.25rem;
      margin-top: 25px;
    }
    .frontPage--quotes__text{
      color: $white;
      font-size:  1rem;
      font-family: 'Open Sans', Arial, sans-serif;
      font-weight: 300;
      font-style: italic;
      margin-top: 25px;
    }
  }
}
