@import '_variables';


@import url('https://fonts.googleapis.com/css?family=Open+Sans');


*{
  margin: 0 ;
}

body{
  font-family: 'Open Sans', sans-serif;

}

#app{
  width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $fullwhite;
}


//frontPage--Banner{
///    display: flex;
///    flex-direction: column;
///    width: 1440px;
///    @media (max-width: 1600px) {
///      width: 1100px;
///    }
///    @media (max-width: 1280px) {
///      width: 1024px;
///    }
///    @media (max-width: 780px) {
///      width: 760px;
///    }


  .frontPage--Banner__sliderbox{
    background-image: url("/static/images/Header/HEADER.jpg");
    height: 575px;
    width: 100%;
    display: grid;
    grid-template-columns: 12fr;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;



    .frontPage--Banner__callToAction{
      width: 268px;
      font-size: 16px;
      height: 18px;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border: 1px solid;
      margin-left: 867px;
      margin-top: 385px;
      text-transform: uppercase;

    }

    .frontPage--sectionTwo{
      width: 1070px;
      display: flex;
      

    }







  }
